<!-- <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">  -->
  <div class="container">
  <li ><button class="btn btn-success" (click)="OpcionMenu('menuBody')">Menu</button></li><br><br><br>
  <li ><button class="btn btn-success" (click)="OpcionMenu('juegos')">Juegos</button></li><br><br>
  <li ><button class="btn btn-success" (click)="OpcionMenu('estadistica')">Estadistica</button></li>
  <br><br>
  <li ><button class="btn btn-success" (click)="OpcionMenu('estadistica')">Listados</button></li>
<!-- </ul> --></div>