<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login form using HTML5 and CSS3</title>

      <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>

<body bgcolor="#e0dddd">
<div class="container">
	<section id="content">
		<form action="">
			<h1>Login Form</h1>
			{{usuario}}
			
			<div>
  				<input type="text"  name="usuario" [(ngModel)]="Usuario" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" name="password" [(ngModel)]="Pass" />
			</div>
			<div>
				<a href="#">Lost your password?</a>
				<button class="btn btn-success" (click)="Entrar()">Entrar</button> <!--chequeo con el f12, en la consola!-->
				<button class="btn btn-success" (click)="registrar()">Registrar</button> <!--chequeo con el f12, en la consola!-->
				<button class="btn btn-success" (click)="UserValido()">UserValido</button>
				<a href="#">Register</a>
			</div>
			<h3 [hidden]="!ingreso"  > Ingreso Exitosamente</h3>
			<h3 [hidden]="ingreso"> {{Mensaje}}</h3>
		</form><!-- form -->

	</section><!-- content -->
</div><!-- container -->



</body>
</html>
